* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

[class*="col-"] {
  border: 1px solid black;
}

#header_top {
  background-color:blue;
}
#header_top [class*="col-"] {
  height: 80px;
  background-color: blue;
}

.header_bottom {
  height: 400px;
  background: pink;
  border: 1px solid black;
}

#portfolio {
  background-color: lightcoral;
  padding-bottom: 50px;
}

#portfolio [class*="col-"]  {
  height: 300px;
  background-color: orange;
}

main,
footer {
  text-align: center;
}

#about {
  background-color: YELLOW;
  padding-bottom: 50px;
}
#about [class*="col-"] {
  height: 200px;
  background-color: lightgreen;
}

#contact {
    height: 400px;
  }

#footer_top {
  background-color: lightblue;
}

#footer_top [class*="col-"] {
  height: 100px;
  background-color: lightblue;
}

#footer_bottom {
  height:50px;
  background-color: blue;
}
