body {
  color: white;
  font-size: 18px;
}

/* debug */
/* [class*="col-"] {
  border: 1px solid black;
} */


#header_top {
  width: 100%;
  height: 80px;
  background-color:#2C3F51;
  position: fixed;
  left: 0;
  top:0;
  z-index: 1;
}

#header_top h3 {
  line-height: 80px;
  margin:0;
}

#header_top [class*="col-"] {
  height: 80px;
  line-height: 80px;
}

.nav_list {
  list-style: none;
  display: inline-block;
}

.nav_list li {
  display: inline-block;
}

.nav_list li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  padding-right: 10px;
}

.nav_list li a:hover {
  color: #19BC9C;
}

.header_bottom {
  background: #19BC9C;
  padding-top: 150px;
  padding-bottom: 50px;
}

.header_bottom img {
  height: 200px;
}

hr {
  width: 100px;
  border-radius: 10px;
  display: inline-block;
  vertical-align: middle;
}

.header_bottom hr {
  border: 2px solid white;
}

header i,
main i {
  font-size: 30px;
  margin: 15px 15px;
  vertical-align: middle;
}

.header_bottom i {
  color: white;
}

#portfolio {
  color: black;
  background-color: white;
  padding-bottom: 50px;
  width: 100%;
}

.portfolio_item {
  height: 300px;
  border-radius: 5px;
  margin-bottom: 30px;
}

section#portfolio hr {
  border: 2px solid black;
}


#about {
  background-color:#19BC9C;
  padding: 50px;
}


#about [class*="col-"] {
  height: 200px;

}

#contact {
    height: 400px;
  }

#footer_top {
  background-color: #2C3F51;
}

#footer_top [class*="col-"] {
  height: 100px;

}

#footer_bottom {
  height:50px;
  background-color:#2C3F51;
}
